/* adding background */
body{
    background: #09bc09;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
/* adding size and color to conatiner */
.container{
   width: 800px;
   margin: 30px auto;
   color: white;
   text-align: center;
}
h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: capitalize;
}
#seconds,
#tens{
    font-size: 2em;
}
/* adding buttons colors and structure */
button{
    width: 150px;
    height: 50px;
    background: transparent;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}
button:hover{
    background: white;
    color: #09bc09;
    font-weight: 800;
    text-transform: capitalize;

}

